/* ==========TYPOGRAPHY AND FONTS========== */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow&display=swap');

/* ==========CSS VARIABLES========== */

/* Primary */
:root{
    --primary-blue: #4174f6;
    --primary-bg:#fff;
    --primary-text:#212121;
}
/* ==========DEFAULT MASTER========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

html {
    background-color: white;
}


/* ==========NAVBAR========== */

.logo {
    font-size: 20px;
    color: var(--primary-blue);
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-bg);
    box-shadow: 0 0 5px var(--primary-blue);
}

nav i {
    color: var(--primary-blue);
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}

nav ul {
    display: none;
}

nav li {
    background-color: var(--primary-blue);
    color: white;
    padding: 10px;

}

/* ==========PROGRESS BAR========== */
#progressBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: gray;
    z-index: 2;
}

/* Progress bar styles */
#progressBar {
    height: 100%;
    background-color: #4174f6;
    /* Change this color to your desired progress bar color */
    width: 0;
}


/* ==================FOOTER====================== */
footer {
    background-color: #333;
    color: white;
}

.upperfooter {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 40px;
}

.social-links .link {
    border-radius: 10px;
    background-color: white;
    height: 40px;
    padding: 10px;
    margin-inline: 3px;
    transition: all .5s;
}

.social-links .linkedin-link:hover {
    background-color: #0e76a8;
}

.social-links .instagram-link:hover {
    background-color: #dd1497;
}

.social-links .twitter-link:hover {
    background-color: #14ACDD;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

.footer-links {
    width: 45%;
}
footer a{
    text-decoration: none;
    color: white;
}
.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links ul li {
    list-style: none;
}

.footer-links h3 {
    margin-bottom: 25px;
}

.bottomfooter {
    background-color: #212121;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    align-items: center;
}

@media (max-width:700px) {
    .upperfooter {
        flex-direction: column;
    }

    .address {
        width: 100%;
    }

    .footer-links {
        width: 100%;
    }
}